include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/metocean_keywords *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/metocean_keywords/migration *.ini *.py *.mako
